@import "../../../style/_variables";

// component styles are encapsulated and only applied to their components
* {

}

#top-publication {
  width: 100%;
  height: 375px;
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
  background-position: center;
  transition: background-position 0.75s ease-out;
  margin-bottom: 15px;
}
#top-publication:hover {
  cursor: url('img/cursor.png') 25 15, pointer;
}

.publication-show {
  height: 100%;
}

.publications {
	column-count: 5;
	column-gap: 15px;
	column-fill: auto;
  column-width: 250px;
  .publication {
    display: inline-block;
  	column-break-inside: avoid;
    margin-top: 10px;
    overflow: hidden;
    cursor: pointer;
    .picture {
      background-repeat: no-repeat;
      background-size: calc(100% + 10%);
      -webkit-background-size: calc(100% + 10%);
      background-position: center;
      transition: background-size 0.45s ease-out;
    }
    .picture:hover {
      background-size: 100%;
      -webkit-background-size: 100%;
    }
    // allow to size the parent div
    .picture img {
      visibility: hidden;
    }
    img {
      width: 100%;
      height: auto;
    }
    .info {
      height: auto;
      border: 1px solid lighten($color-inactive, 30%);
      border-top: 0;
      padding-left: 10px;
      padding-right: 10px;
      transition: border 0.25s;
    }
    .info .stats {
      position: relative;
      font-size: 1.4em;
      line-height: 50px;
      height: 50px;
      display: block;
      width: 100%;
    }
    .info .stats .like {
      position: absolute;
      left: 0;
    }
    .info .stats i {
      padding: 1px;
    }
    .info .stats .like i {
      opacity: 1;
      transition: color 0.25s, opacity 0.25s;
      cursor: pointer;
      &.active {
        color: $color-active;
      }
    }
    .info .stats .like i:hover {
      color: $color-active;
      &.active {
        opacity: 0.8;
      }
    }
    .info .stats .view {
      position: absolute;
      right: 0;
    }
    .info .title {
      font-size: 1.4em;
      word-break: break-word;
    }
    .info .author {
      font-size: 0.9em;
      font-style: italic;
    }
    .info p {
      display: inline-block;
      text-align: justify;
    }
  }
  .publication:hover {
    .info {
      border-color: $color-active;
    }
  }
}

@media (min-width: 960px) {
	.publications {
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	.publications {
		column-count: 5;
	}
}
