@import "../style/_variables";

@font-face {
  font-family: 'nms';
  src: url('fonts/geonms-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}

// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: flex;
  flex-direction:column;
  height: 100vh;
}

header {
  position: fixed;
  z-index: 10;
  background-color: $color-base;
  height: $size-header-height;
  max-height: $size-header-height;
  width: 100%;
  border-bottom: 1px solid $color-active;
  #drag-box {
    position: relative;
    vertical-align: top;
    height: calc(100% + 1px);
    width: 400px;
    border-bottom: 1px dashed $color-active;
    border-left: 1px dashed $color-active;
    border-right: 1px dashed $color-active;
    background-color: lighten($color-active, 21%);
    margin: auto;
    margin-bottom: -1px;
    font-family: 'nms';
    p, h3 {
      margin: 0;
      text-transform: uppercase;
      color: $color-active;
      text-align: center;
    }
    h3 {
      padding-top: 10px;
      line-height: 50px;
    }
  }
}

main {
  padding-top: $size-header-height;
  margin-top: 15px;
}

footer {

}
