@import "../style/_variables";

// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: flex;
  flex-direction:column;
  height: 100vh;
}

header {
  background-color: $color-base;
  height: 100px;
  width: 100%;
  #drag-box {
    height: 100%;
    width: 400px;
    background-color: red;
    margin: auto;
  }
}

main {

}

footer {

}
