@import "../style/_variables";

@font-face {
  font-family: 'nms';
  src: url('fonts/geonms-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}

// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: flex;
  flex-direction:column;
  height: 100vh;
}

header {
  position: fixed;
  z-index: 10;
  background-color: $color-base;
  height: $size-header-height;
  max-height: $size-header-height;
  width: 100%;
  border-bottom: 1px solid $color-active;
}

main {
  padding-top: $size-header-height;
  margin-top: 15px;
}

footer {

}
