<div id="modal" class="row">
  <div class="col-md-12">
    <h3 id="modal-header">Renseigne ta découverte !</h3>
    <p *ngIf="file.isUploading">Rapport photographique en cours de transmission dans l'Atlas... {{ file.progress }}%</p>
    <p *ngIf="file.isSuccess">Rapport enregistré dans l'Atlas, merci de renseigner votre découverte</p>
    <div id="modal-preview" class="col-md-6">
      <img src="{{ preview?.result }}" />
    </div>
    <div class="col-md-6 form-group">
      <input class="form-control" placeholder="Titre" value="{{ file.file.name }}"/><br />
      <textarea class="form-control" rows="3" id="comment"></textarea>
    </div>
  </div>
</div>
<div id="modal-buttons" class="row">
  <div class="col-md-12 text-right">
    <button type="submit" class="btn btn-primary">Envoyer le rapport</button>
    <button class="btn btn-danger" (click)="onClose()">Annuler</button>
  </div>
</div>
