<div id="modal" class="row">
  <div class="col-md-12">
    <h3 id="modal-header">Renseigne ta découverte !</h3>
    <label *ngIf="!context.uploader.queue[0]" [hidden]="isSelected" class="btn btn-default btn-file center-block">
      Sélectionne ta photographie
      <input  (change)="onSelectFile($event.target)"
              type="file"
              ng2FileSelect
              [uploader]="context.uploader" />
    </label><br />
    <p *ngIf="context.uploader.isUploading">
      Rapport photographique en cours de transmission dans l'Atlas... {{ context.uploader.progress }}%
    </p>
    <p *ngIf="context.uploader.queue[0]?.isSuccess">
      Rapport enregistré dans l'Atlas, merci de renseigner votre découverte
    </p>
    <div id="modal-preview" class="col-md-6">
      <img src="{{ preview?.result }}" />
    </div>
    <div class="col-md-6 form-group modal-form">
      <input class="form-control" placeholder="Titre" [(ngModel)]="publication.title"/><br />
      <textarea class="form-control" rows="3" id="comment" [(ngModel)]="publication.description">
      </textarea>
    </div>
  </div>
</div>
<div id="modal-buttons" class="row">
  <div class="col-md-12 text-right">
    <button type="submit" class="btn btn-primary" (click)="newPublication()">Envoyer le rapport</button>
    <button class="btn btn-danger" (click)="onClose()">Annuler</button>
  </div>
</div>
