<div class="center-global">
  <div class="signup-form">
    <form role="form">
      <input type="text" class="form-control" [(ngModel)]="user.name" placeholder="Pseudonyme" required />
      <input type="email" class="form-control" [(ngModel)]="user.email" placeholder="Adresse e-mail" required />
      <input type="password" class="form-control" [(ngModel)]="user.password" placeholder="Mot de passe" required />
      <input type="password" class="form-control" [(ngModel)]="rePassword" placeholder="Mot de passe de nouveau" required />
      <button class="btn btn-primary" (click)="submit()" [disabled]="!isFormValid()">S'enregistrer</button>
      <a [routerLink]="['Signin']">Se connecter</a>
    </form>
  </div>
</div>
